# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build
/dist

# TypeScript cache
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env*.local

# Vercel
.vercel

# Operating System & IDE files
.DS_Store
*.pem
Icon?
.idea/
.vscode/

# Media originals backup
media-originals/
/media-originals/
